<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 네비게이션 바 (메뉴) -->
    <form action="/board">
      <p class="c"><%-include ('nav/header.ejs') %></p>
      <h1><%= title %></h1>
      <hr>
      <p>
        ※ 공지사항 ※ <br><br>
        1. 모두를 위한 공간이므로 욕설 사용 금지. <br>
        2. 학교 게시판이지 자유 게시판이 아니므로 꼭 학교 관련 글 작성 바랍니다. <br>
        3. 관리자가 보았을 때 규정에 어긋난 게시글로 판단했을 시 삭제 조치할 수 있음. <br>
        4. 경고 3회 시 회원 영구 탈퇴 조치할 예정입니다. <br><br>
      </p>
    </form> <hr>
      <p style="text-align: center; word-spacing: 20px;">
        <button> <a href = "/write"> 글쓰기 </a> </button>
        <button> <a href = "/list"> 목록 </a> </button>
      </p>
  </body>
</html>