<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board</title>
</head>
<body style="text-align: center; margin-top: 10%; background-image: url(https://t1.daumcdn.net/cfile/tistory/999BA64D5D06CA3824);">

  <h1>게시판</h1>

    <table border="1" style="margin-left: auto; margin-right: auto; background-color: white;">
      <thead>
        <tr>
          <td>#</td>
          <td>제목</td>
          <td>글쓴이</td>
        </tr>
      </thead>

      <tbody>
      <% for(let post of blogs){ %>
        <tr>
          <td><a href="/blog/<%= post.uid %>"><%= blogs.indexOf(post) + 1 %></a></td>
          <td><%= post.title %></td>
          <td><%= post.writer %></td>
        </tr>
      <%}%>
      </tbody>
    </table>

    <br>
    <button onclick="location.href='/write'">글 쓰기</button>

</body>
</html>