<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 네비게이션 바 (메뉴) -->
    <p class="c">
      <%-include ('nav/header.ejs') %>
    </p>

    <!-- 현재 페이지 위치 -->
    <h1>
      <%= title %>
    </h1>
    <hr>

    <!-- 무슨 게시판인지 설명 -->
    <p>
      <strong>▶ Page Explanation</strong>
      <pre>
      → CRUD 연습을 위해 Board(게시판)를 만들게 되었습니다.
      </pre>
    </p>
    <p>
      <strong>▶ Update Timeline</strong>
      <pre>
      → 23.03.11 : I'm have successfully linked the main page to the bulletin board page.
      </pre>
    </p>

  </body>
</html>