<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 네비게이션 바 (메뉴) -->
    <p class="c">
      <%-include ('nav/header.ejs') %>
    </p>

    <!-- 현재 페이지 위치 -->
    <h1>
      <%= title %>
    </h1>
    <hr>

    <!-- 무슨 게시판인지 설명 -->
    <p>
      <strong>▶ Page Explanation</strong>
    </p>
    <p>게시판 만드는 연습을 하는 중 입니다.</p>



  </body>
</html>