<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/prod">

            <!-- 네비게이션 바 (메뉴) -->
            <p class="c">
                <%-include ('nav/header.ejs') %>
            </p>
            
            <!-- 현재 페이지 위치 -->
            <p>
                <h1>
                    <%= title %>
                </h1>
            </p>
            <hr>
            
            <!-- Producer 소개 -->
            <p>
            <strong>▶ Producer Introduction</strong><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong># Producer : 손민우 (24세)</strong>
            <pre style="font-size: 13px;">
        → 학교 이력
              1. 초등학교 : 사상초등학교 (07 ~ 12)
              2. 중학교 : 신라중학교 (13 ~ 15)
              3. 고등학교 : 구덕고등학교 (16 ~ 18)
              4. 대학교 : 동서대학교 (19 ~ ing)

        → 군필
              1. 입대 : 육군 (제 22사단 55여단 1대대) (20.06 ~ 21.12)
        
        → 대학교 활동
              ※ 전공 : 소프트웨어융합대학 소프트웨어학과

              1. 1학년
                (1). 선후배사랑 학습 공동체[튜티] (2019.09.16 ~ 2019.12.27)
              
              2. 2학년
                (1). UbSE_ 연구실에 가입 (2021.12 ~ ing)
                (2). 2022년 AI + X 융합연구소 가입, V.I.G Team 소속 및 활동.
                (3). 창의적 생활 코딩 튜터링[튜터] (2022 - 1학기)
                (4). BADA 학습 공동체[튜티] (2022 - 1학기)
                (5). 필리핀 UC 대학교 수료 (2022.05.09 ~ 2022.06.03)
                (6). 창의적 생활 코딩 튜터링[튜터] (2022 - 2학기)
                (7). BDAD 학습 공동체[튜티] (2022 - 2학기) 

              3. 3학년
                (1). UbSE_ 연구실 3학년 연구실장 선임 (2022 ~ ing)
                (2). 2023년 AI + X 융합연구소 가입, V.I.G Team 소속 및 활동.
                (3). 창업동아리 AI_언택트 소속. (2023.03 ~ 2023.12)
                (4). 사업체와 같이 협업하여 데이터 라벨링 활동. (2023.03 ~ 2023.12)
                (5). 아이데이션 C팀 소속 (2023 - 1학기)
                (6). 창의적 생활 코딩 튜터링[튜터] (2023 - 1학기)
                (7). BDAD 학습 공동체[튜터] (2023 - 1학기)
            </pre>
            </p>
        </form>
    </body>
</html>